body {
    height: 100vh;
    background: #9DBEBB;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangles-container {
    display: flex;
    align-items: center;
    position:relative;
}

.red-rectangle {
    background: #BE0909;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
    width: 954px;
    height: 620px;
    flex-shrink: 0;
}

.orange-rectangle {
    background: #FFB039;
    width: 345px;
    height: 620px;
    flex-shrink: 0;
}

.form-content {
    color: #FEFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.4px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 30px;
}

.label {
    text-transform: uppercase;
}

.input {
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    padding: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.input::placeholder {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.select-container {
    margin-bottom: 40px;
}

.select-container select {
    font-family: 'Roboto', sans-serif;
    color: yellow;
    background: transparent;
}

.btn-container {
    margin-top: 40px; 
}

.btn {
    width: 202px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #468189;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
}

.duck-image {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: -0;
}